<div class="landing-body">
  <div class="landing-logo">
    <%= image_tag("Logo6.png") %>
  </div>
  <div class="landing-text">
    <div class="landing-title">
      <h1> Loquere </h1>
    </div>
    <div>
      <h5>Find people who speak the language you're learning.<h5>
      <h5>Meet up with them to practice your skills and make new friends!</h5>
    </div>
    <div class="landing-links">
      <%= link_to "Sign In", new_user_session_path %> /
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>
  <div>
</div>
